<div class='row text-center'>
      <div class='col'>
        <div class='card mt-2'>
            <div class='card-body'>
              <h5>Add a Recipe</h5>
                <form class='add-recipe'>
                    <input class='' type='text' id='recipe-name' placeholder='Recipe Name'>
                    <input class='' type='text' id='ingredients' placeholder='Ingredients'>
                    <input class='' type='text' id='instructions' placeholder='Instructions'>
                    <input class='' type='text' id='description' placeholder='Description'>
                    <input class='' type='text' id='chef-comments' placeholder='Chef Comments'>
                    <button class='btn btn-primary submit mt-2 ' type='submit' id="add-recipe">Add Recipe</button>
                </form>
            </div>
        </div>
      </div>
    </div>