    <div class='row text-center'>
      <div class='col'>
        <div class='card mt-2'>
            <div class='card-body'>
              <h5>Add a Recipe</h5>
                <form class='add-recipe'>
                  <div class="row my-2">
                    <div class="col-sm-12 col-md-6 mb-2">
                    <input class='w-100' type='text' id='recipe-name' placeholder='Recipe Name'>
                    </div>
                    <div class="col-sm-12 col-md-6">
                    <input class='w-100' type='text' id='ingredients' placeholder='Ingredients... Steak, Corn, Potatoes'>
                    </div>
                  </div>
                  <div class="row my-2">
                    <div class="col-sm-12 col-md-6 mb-2">
                    <input class='w-100' type='text' id='instructions' placeholder='Instructions'>
                    </div>
                    <div class="col-sm-12 col-md-6">
                    <input class='w-100' type='text' id='description' placeholder='Description'>
                    </div>
                  </div>
                  <div class="row my-2">
                    <div class="col">
                    <input class='w-100' type='text' id='chef-comments' placeholder='Chef Comments'>
                    </div>
                  </div>
                  <div class="row my-2 text-center">
                    <div class="col">
                      <button class='btn btn-primary submit mt-2 ' type='submit' id="add-recipe">Add Recipe</button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
      </div>
    </div>