<div class='row h-100'>
  <div class='col my-auto'>
        <div class='row text-center my-3'>
          <div class='col'>
          <h2>The Cookbook Recipe App You Love</h2>
          </div>
        </div>
    <div class='row text-center'>
      <div class='col'>
        <div class='card'>
            <div class='card-body'>
              <h5>Login</h5>
                <form class='login'>
                    <input class='py-1' type='text' id='recipe-name' placeholder='Recipe Name'>
                    <input class='ml-3 py-1' type='text' id='ingredients' placeholder='Ingredients'>
                    <input class='py-1' type='text' id='instructions' placeholder='Instructions'>
                    <input class='ml-3 py-1' type='text' id='description' placeholder='Description'>
                    <input class='py-1' type='text' id='chef-comments' placeholder='Chef Comments'>
                    <button class='btn btn-primary submit ml-3 px-3' type='submit' id="add-recipe">Add Recipe</button>
                </form>
            </div>
        </div>
      </div>
    </div>
    <div class='row my-3'>
      <div class='col'>
        <div class='card'>
          <div class='card-body'>
            <h2>Featured Recipes</h2>
            <ul>
              {{{Recipe}}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



