<div class='row w-100'>
    <div class='col px-3'>
        <h2>Browse Recipes</h2>
    </div>
</div>
<div class='row w-100 text-center'>
    <div class='col px-3'>
        <div class='card'>
            <div class='card-body'>
                <p>Recipe Title</p>
                <p>Description</p>
                <p>Rating</p>
            </div>
        </div>
    </div>
</div>
<div class='row w-100 text-center'>
    <div class='col px-3'>
        <div class='card'>
            <div class='card-body'>
                <p>Recipe Title</p>
                <p>Description</p>
                <p>Rating</p>
            </div>
        </div>
    </div>
</div>
<div class='row w-100 text-center'>
    <div class='col px-3'>
        <div class='card'>
            <div class='card-body'>
                <p>Recipe Title</p>
                <p>Description</p>
                <p>Rating</p>
            </div>
        </div>
    </div>
</div>
<div class='row w-100 text-center'>
    <div class='col px-3'>
        <div class='card'>
            <div class='card-body'>
                <p>Recipe Title</p>
                <p>Description</p>
                <p>Rating</p>
            </div>
        </div>
    </div>
</div>