<div class='row h-100'>
  <div class='col my-auto'>
    <div class='row text-center my-3'>
      <div class='col'>
        <h2>The Cookbook Recipe App You Love</h2>
      </div>
    </div>
  </div>

  <div class='row my-3'>
    <div class='col'>
      <div class='card'>
        <div class='card-body'>
          <h2>Featured Recipe of the Day</h2>
          <ul>
            {{{Recipe}}}
          </ul>
        </div>
      </div>
    </div>
    <div class='row my-3'>
      <div class='col'>
        <div class='card'>
          <div class='card-body'>
            <h2>Featured Recipes in index</h2>
            <ul>
              {{{Recipe}}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
