<h1>Ultimate Cookbook</h1>
<h2>The Cookbook Recipe App You Love</h2>

<form class='login'>
    <input type='text' id='email' placeholder='Email'>
    <input type='text' id='password' placeholder='Password'>
    <button class='submit' type='submit'>Login</button>
</form>

<div class='container'>
    <h2>Featured Recipes</h2>
    <ul>
        {{{Recipe}}}
    </ul>
</div>

<footer class='container2'>
    <h2> Made by The Chefs </h2>
</footer>
