<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <h1>Test</h1>
</body>
</html>
=======
<h1>Ultimate Cookbook</h1>

<h2>The Cookbook Recipe App You Love</h2>

<form class='login'>
    <input type='text' id='email' placeholder='Email'>
    <input type='text' id='password' placeholder='Password'>
    <button class='submit' type='submit'>Login</button>
</form>

<div class='container'>
    <h2>Featured Recipes</h2>
    <ul>
        {{{Recipe}}}
    </ul>
</div>

<footer class='container2'>
    <h2> Made by The Chefs </h2>
</footer>
>>>>>>> cb1e363d18bf8636aa5ec2ed3bc555c0755c4af9
