<div class='row h-100 text-center'>
    <div class='col my-auto'>
        <div class='card'>
            <div class='card-body'>
                <h1>Welcome Member!</h1>
            </div>
        </div>
    </div>
</div>


<div class='row my-3 text-center'>
    <div class='col my-auto'>
        <div class='card'>
            <div class='card-body'>
                <h3>Here are your suggested recipes today.</h3>
                <div class='suggestedRecipes'>
                    <div class='row w-75'>
                        <div class='col'>
                            <ul>
                            {{{Recipes}}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class='footer text-center'>
    <div class='container'>
        <span> Made by The Chefs || 2020</span>
    </div>
</footer>