    <div class='row text-center'>
      <div class='col'>
        <div class='card'>
            <div class='card-body'>
                <h5>Create New Recipe</h5>
                <form class='createRecipe'>
                    <input class='py-1' type='text' id='recipe-name' placeholder='Recipe Name'>
                    <input class='ml-3 py-1' type='text' id='ingredient-input' placeholder='Ingredients'>
                    <input class='ml-3' type='text' id='instructions-input' placeholder='Instructions'>
                    <input class='ml-3' type='text' id='description-input' placeholder='Description'>
                    <input class='ml-3' type='text' id='chef-comments-input' placeholder='Chef Comments'>
                    <button class='btn btn-primary newRecipe ml-3 px-3' type='submit'>Create Recipe</button>
                </form>
            </div>
        </div>
      </div>
    </div>

