<div class='row'>
    <div class='col px-3'>
        <div class="text-center">
        <h2>Browse Recipes</h2>
        </div>
    </div>
</div>
{{> recipes/recipe-block}}

{{!-- will be similar to the recipe page but it will only display results that you want to search for --}}