<div class='row h-100'>
  <div class='col my-auto'>
        <div class='row text-center my-3'>
          <div class='col'>
          <h2>The Cookbook Recipe App You'll Love</h2>
          </div>
        </div>
    <div class='row text-center'>
      <div class='col'>
        <div class='card'>
            <div class='card-body'>
                <h5>Signup</h5>
                <form class='signup'>
                  <div class="row mb-2">
                    <div class="col">
                      <input class='py-1 w-100' type='text' id='email-input' placeholder='Email'>                    
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-sm-12 col-md-6 mb-2">
                      <input class='py-1 w-100' type='text' id='password-input' placeholder='Password'>                      
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <input class='py-1 w-100' type='text' id='username-input' placeholder='username'>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-12 col-md-6 mb-2">
                      <input class='py-1 w-100' type='text' id='first-name-input' placeholder='First Name'>                      
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <input class='py-1 w-100' type='text' id='last-name-input' placeholder='Last Name'>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <button class='btn btn-primary submit  px-3' type='submit'>Signup</button>
                      <div class="mt-2">
                        <a href="/">Login</a>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

