<div class='row h-100'>
  <div class='col my-auto'>
        <div class='row text-center my-3'>
          <div class='col'>
          <h2>The Cookbook Recipe App You Love</h2>
          </div>
        </div>
    <div class='row text-center'>
      <div class='col'>
        <div class='card'>
            <div class='card-body'>
                <h5>Signup</h5>
                <form class='signup'>
                  <div class="row my-2 text-center">
                    <div class=" col-md-4">
                      <input class='py-1 w-100' type='text' id='email-input' placeholder='Email'>                    
                    </div>
                    <div class=" col-md-4">
                      <input class='py-1 w-100' type='text' id='password-input' placeholder='Password'>
                    </div>
                    <div class=" col-md-4">
                      <input class='py-1 w-100' type='text' id='username-input' placeholder='username'>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <input class='py-1 w-75' type='text' id='first-name-input' placeholder='John'>
                    </div>
                    <div class="col-md-6">
                      <input class='py-1 w-75' type='text' id='last-name-input' placeholder='Doe'>
                    </div>
                  </div>
                  <div class="row my-3">
                    <div class="col">
                      <button class='btn btn-primary submit  px-3' type='submit'>Signup</button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>