<div class='row h-100'>
  <div class='col my-auto'>
        <div class='row text-center my-3'>
          <div class='col'>
          <h2>The Cookbook Recipe App You Love</h2>
          </div>
        </div>
    <div class='row text-center'>
      <div class='col'>
        <div class='card'>
            <div class='card-body'>
                <h5>Signup</h5>
                <form class='signup'>
                    <input class='py-1' type='text' id='email-input' placeholder='Email'>
                    <input class='ml-3 py-1' type='text' id='password-input' placeholder='Password'>
                    <input class='ml-3' type='text' id='first-name-input' placeholder='John'>
                    <input class='ml-3' type='text' id='last-name-input' placeholder='Doe'>
                    <input class='ml-3' type='number' id='age-input' placeholder='18'>
                    <input class='ml-3' type='text' id='username-input' placeholder='johndoe2'>
                    <button class='btn btn-primary submit ml-3 px-3' type='submit'>Signup</button>
                </form>
            </div>
        </div>
      </div>
    </div>
    <div class='row my-3'>
      <div class='col'>
        <div class='card'>
          <div class='card-body'>
            <h2>Featured Recipes</h2>
            <ul>
              <li>
                {{{Recipe}}}
                <p>Description blurb</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class='footer text-center'>
    <div class='container'>
        <span> Made by The Chefs || 2020</span>
    </div>
</footer>