<div class='row h-100 w-100 '>
    <div class='col my-auto'>
        <div class='card'>
            <div class='card-body'>
                <div class="row">
                    <div class="col">
                        <h1 id='username'></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 id='first-name'></h4>
                    </div>
                    <div class="col-md-6">
                        <h4 id='last-name'></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    <p>Bio</p>
                    <p id='#user-bio'></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-5 mb-2">
            <div class="card-body">
                <h3>list recipes</h3>
            </div>
        </div>
        <div class="accordion" id="accordionExample">
            {{> users/user-block}}
        </div>
    </div>
</div>
<script src='/assets/js/user.js'></script>